@model List<TarziniYarat.Model.Category>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>CategoryList</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Kategory Adı</th>
            <th>Açıklama</th>
            <th>Aktif Mi</th>
            <th>Düzenle</th>

        </tr>
        @foreach (TarziniYarat.Model.Category item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td>@item.IsActive</td>
                <td><button class="btn btn-primary btnActivate" data-categoryID="@item.CategoryID">Aktifleştir</button></td>
            </tr>
        }
    </thead>
</table>

@section scripts{
    <script>
        $(".btnActivate").click(function () {
            var categoryID = $(this).attr("data-categoryID");

            $.ajax({
                type: "GET",
                url: "/AdminProcess/ActivateCategory/" + categoryID,
                success: function (data) {
                    if (data == "ok") {
                        alert("Başarıyla silindi");
                    }
                    else {
                        alert("Aktifleştirmede bir hata oluştu.");
                    }
                }
            });
        });
    </script>
}
